
  .container{
    width: 900px;
    height: 600px;
    border: 1px solid black;
    align-items: center;
    margin-left:auto  ;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    
  }
  ul{
    /* margin:20px; */
    list-style:none;
  }
  li{
    /* margin-left:0px; */
    display: flex;
    justify-content: space-around;
    
  }
  .btn{
    /* margin-left: 400px;  */
    border: 2px solid black;
    border-radius: 20px;
    margin: 2px;
  }

  .lis{
    display: flex;
    justify-content: space-between;
  }
  